<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>게시글 수정</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
  <!-- [S]campland-N1 -->
<header class="campland-N1" data-bid="jyM0XM29Mx">
  <div class="header-inner">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title"></h1><a href="/"><img src="/resources/img/80953516b4be4fcca4ad2d562886e6d4.png" alt="로고" style="height: 73px; width: 180px;"></a>
      </div>
      <div class="header-center">

        <ul class="header-gnblist">
          <li class="header-gnbitem"><a class="header-gnblink" href="javascript:void(0)" style="width: 400px;"><span style="font-size: 22px;">관광지 추천</span></a></li>
          <li class="header-gnbitem"></li>
          <li class="header-gnbitem">

          </li>
          <li class="header-gnbitem"><a class="header-gnblink" href="/board" style="position: relative; width: 400px;"><span style="font-size: 22px;">게시판</span></a></li>
          <li class="header-gnbitem"></li>
          <li class="header-gnbitem">

          </li>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-utils"><a href="/mypage" class="btn-profile header-utils-btn"><img src="../resources/icons/ico_profile_black.svg" alt="검색"></a><button class="btn-momenu header-utils-btn"><img src="../resources/icons/ico_menu_black.svg" alt="모바일메뉴"></button><button class="btn-moclose header-utils-btn"><img src="../resources/icons/ico_close_m_black.svg" alt="닫기"></button></div>
      </div>
    </div>
</header>
<!-- [E]campland-N1 -->
<main class="th-layout-main" role="main">
  <section id="fn2CWiAHCMt" class="section campland-N21">
      <div class="contents-inner">
          <div class="contents-container container-md">
              <div class="textset textset-sub">
                  <h2 class="textset-tit">게시글 수정</h2>
              </div>
              <form id="updatePostForm">
                <div class="form-wrap">
                    <div class="contents-form-group">
                      <h6 class="form-tit form-tit-deco tit-start"><span></span>
                        <label for="postTitle">제목</label></h6>
                        <div class="inputset inputset-round">
                            <input type="text" class="inputset-input form-control" id="postTitle" name="title" required>
                        </div>
                    </div>
                </div>
                <div class="form-wrap">
                    <div class="contents-form-group">
                      <h6 class="form-tit form-tit-deco tit-start"><span></span>
                        <label for="postContent">본문</label></h6>
                        <div class="inputset inputset-round">
                            <textarea id="postContent" class="inputset-input form-control" name="content" required="" style = "height:500px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-wrap">
                    <div class="contents-form-group">
                      <h6 class="form-tit form-tit-deco tit-start"><span></span>
                        <label for="postImage" style = "width:110px;">이미지 업로드</label><br></h6>
                        <div class="inputset inputset-round">
                            <input type="file" id="postImage" name="image" accept="image/*" style = "width:500px;">
                        </div>
                    </div>
                </div>
                <div id="imagePreview" style="display:none;">
                    <img id="previewImage" src="" alt="Preview" style="max-width: 300px;">
                    <button type="button" id="deleteImage">이미지 삭제</button>
                </div>
                <div class="contents-confirm">
                  <a href = "/board"><button class = "btnset btnset-round btnset-black">돌아가기</button></a>
                    <button type="submit" class="btnset btnset-round btnset-black">수정하기</button>
                </div>
            </form>
          </div>
      </div>
  </section>
</main>

<!-- [S]campland-N2 -->
<footer class="campland-N2" data-bid="NsM0vvgpPE">
  <div id="google_translate_element" style="text-align: center; margin-top: 10px;"></div>

  <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'ko',  // 기본 언어는 한국어
        includedLanguages: 'ko,en,ja,zh-CN',  // 한국어, 영어, 일본어, 중국어 추가
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,  // 간단한 레이아웃
        autoDisplay: false  // 자동 표시 비활성화
      }, 'google_translate_element');
    }
  </script>
  <div class="footer-container container-lg">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo"><a href="javascript:void(0)" style="background-position: 50% 50%; background-image: url(../resources/img/footerlogo.png); background-size: cover;"></a></h1>
        <ul class="footer-snslist">
          <li class="footer-snsitem"><a class="footer-snslink" href="javascript:void(0)"><img src="../resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램"></a></li>
          <li class="footer-snsitem"></li>
          <li class="footer-snsitem"><a class="footer-snslink" href="javascript:void(0)"><img src="../resources/icons/ico_facebook_lightgrey.svg" alt="페이스북"></a></li>
          <li class="footer-snsitem"></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <h2 class="footer-logo"><a href="javascript:void(0)"><img src="../resources/img/img_logo_white.png" alt="로고"></a></h2>
        <div class="footer-txt">
          <p>주소 서울 특별시 강동구 천호대로 157-14 나비빌딩 6F</p>
          <p><span>T. 02-479-0654</span><span>E. Jognag523@naver.com</span></p>
        </div>
        <div class="footer-txt">
          <p>2024 BY &nbsp;ⓒ낙지탕탕이. ALL RIGHTS RESEVED</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br/>
  </div>
  
</footer>
<script>
  // Google 번역기를 초기화하는 함수
function googleTranslateElementInit() {
new google.translate.TranslateElement({
  pageLanguage: 'ko',  // 기본 언어는 한국어
  includedLanguages: 'ko,en,ja,zh-CN',  // 한국어, 영어, 일본어, 중국어 추가
  layout: google.translate.TranslateElement.InlineLayout.SIMPLE,  // 간단한 레이아웃
  autoDisplay: false  // 자동 표시 비활성화
}, 'google_translate_element');
}

// 페이지가 로드될 때 번역기 초기화
document.addEventListener('DOMContentLoaded', function() {
googleTranslateElementInit();
});

// 라우터 이동 시 번역기 다시 초기화
window.addEventListener('popstate', function() {
googleTranslateElementInit();
});

</script>
  <!-- [E]campland-N2 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
  <script src="../resources/js/boardupdate.js"></script>
</body>