<!DOCTYPE html>
<html lang="ko">
<!-- 여기는 좀 많이 바꿔서 그냥 복붙하는게 나을듯 ############################################################################### -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>회원가입 | TOUR</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
  <!-- [S]campland-N1 -->
  <header class="campland-N1" data-bid="uXM0umEiY0">
    <!-- 기존 내용 유지 -->
  </header>
  <!-- [E]campland-N1 -->
  <main class="th-layout-main ">
    <!-- [S]campland-N25 -->
    <div class="campland-N25" data-bid="aXM0uMeJ2K" id="">
      <div class="contents-inner">
        <div class="contents-container">
          <div class="textset textset-sub textset-center">
            <h2 class="textset-tit">회원가입</h2>
          </div>
          <ul class="contents-list">
            <li class="contents-item">
              <h6 class="form-tit form-tit-deco"><span></span>아이디</h6>
              <div class="form-wrap">
                <div class="inputset inputset-round"><input type="text" id="username" class="inputset-input form-control" aria-label="내용" placeholder="아이디를 입력해주세요."></div>
              </div>
            </li>
            <li class="contents-item">
              <h6 class="form-tit form-tit-deco"><span></span>비밀번호</h6>
              <div class="form-wrap">
                <div class="inputset inputset-round"><input type="password" id="password" class="inputset-input form-control" aria-label="내용" placeholder="영문 대소문자/숫자 포함 10~16자"></div>
              </div>
            </li>
            <li class="contents-item">
              <h6 class="form-tit form-tit-deco"><span></span>비밀번호 확인</h6>
              <div class="form-wrap">
                <div class="inputset inputset-round"><input type="password" id="password-confirm" class="inputset-input form-control" aria-label="내용" placeholder="비밀번호를 다시 입력해주세요."></div>
              </div>
            </li>
            <li class="contents-item">
              <h6 class="form-tit form-tit-deco"><span></span>국적</h6>
              <div class="selectset selectset-round selectset-md">
                <select id="country" class="selectset-toggle btn" style="width: 720px;">
                  <option value="한국">한국</option>
                  <option value="미국">미국</option>
                  <option value="중국">중국</option>
                  <option value="일본">일본</option>
                </select>
              </div>
            </li>
            <li class="contents-item">
              <h6 class="form-tit form-tit-deco"><span></span>이메일</h6>
              <div class="form-wrap">
                <div class="inputset inputset-round"><input type="text" id="email" class="inputset-input form-control" aria-label="내용" placeholder="이메일을 입력해주세요."></div>
              </div>
            </li>
          </ul>
          <div class="contents-bottom">
            <h2 class="contents-tit">개인정보수집 및 이용동의</h2>
            <div class="contents-board">- 수집하는 개인정보 항목 : 이메일<br>작성해주시는 개인 정보는 문의 접수 및 고객 불만 해결을 위해 5년간 보관됩니다. 이용자는 본 동의를 거부할 수 있으나, 미동의시 문의 접수가 불가능합니다.</div>
            <div class="checkset">
              <input id="privacy-agree" class="checkset-input input-fill input-round" type="checkbox" value="">
              <label class="checkset-label" for="privacy-agree"></label><span class="checkset-text">위 내용을 읽었으며, 내용에 동의합니다.<em class="checkset-acc">(필수)</em></span>
            </div>
          </div>
          <div class="contents-confirm">
            <a href="/login" class="btnset btnset-round btnset-line btnset-black">돌아가기</a>
            <a href="javascript:void(0);" class="btnset btnset-round" id="signup-btn">가입완료</a>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]campland-N25 -->
  </main>
  <!-- [S]campland-N2 -->
  <footer class="campland-N2" data-bid="NsM0vvgpPE">
    <div id="google_translate_element" style="text-align: center; margin-top: 10px;"></div>
  
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'ko',  // 기본 언어는 한국어
          includedLanguages: 'ko,en,ja,zh-CN',  // 한국어, 영어, 일본어, 중국어 추가
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE,  // 간단한 레이아웃
          autoDisplay: false  // 자동 표시 비활성화
        }, 'google_translate_element');
      }
    </script>
    <div class="footer-container container-lg">
      <div class="footer-container container-lg">
        <div class="footer-top">
          <h1 class="footer-logo"><a href="javascript:void(0)" style="background-position: 50% 50%; background-image: url(../resources/img/footerlogo.png); background-size: cover;"></a></h1>
          <ul class="footer-snslist">
            <li class="footer-snsitem"><a class="footer-snslink" href="javascript:void(0)"><img src="../resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램"></a></li>
            <li class="footer-snsitem"></li>
            <li class="footer-snsitem"><a class="footer-snslink" href="javascript:void(0)"><img src="../resources/icons/ico_facebook_lightgrey.svg" alt="페이스북"></a></li>
            <li class="footer-snsitem"></li>
          </ul>
        </div>
        <div class="footer-bottom">
          <h2 class="footer-logo"><a href="javascript:void(0)"><img src="../resources/img/img_logo_white.png" alt="로고"></a></h2>
          <div class="footer-txt">
            <p>주소 서울 특별시 강동구 천호대로 157-14 나비빌딩 6F</p>
            <p><span>T. 02-479-0654</span><span>E. Jognag523@naver.com</span></p>
          </div>
          <div class="footer-txt">
            <p>2024 BY &nbsp;ⓒ낙지탕탕이. ALL RIGHTS RESEVED</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <br/>
    </div>
    
  </footer>
  <script>
    // Google 번역기를 초기화하는 함수
  function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'ko',  // 기본 언어는 한국어
    includedLanguages: 'ko,en,ja,zh-CN',  // 한국어, 영어, 일본어, 중국어 추가
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE,  // 간단한 레이아웃
    autoDisplay: false  // 자동 표시 비활성화
  }, 'google_translate_element');
  }
  
  // 페이지가 로드될 때 번역기 초기화
  document.addEventListener('DOMContentLoaded', function() {
  googleTranslateElementInit();
  });
  
  // 라우터 이동 시 번역기 다시 초기화
  window.addEventListener('popstate', function() {
  googleTranslateElementInit();
  });
  
  </script>
  <!-- [E]campland-N2 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
  <script src="../resources/js/signup.js"></script>
  <!-- 스크립트추가 ##################################################################################################### -->
</body>
</html>
